<app-navbar></app-navbar>
<div
  class="row"
  *ngIf="quizService.qns && quizService.qnProgress != quizService.qns.length"
>
  <div class="col s12">
    <mat-card class="blue-grey darken-1">
      <mat-card-header>
        <span>Time Elapsed: {{ quizService.displayTimeElapsed() }}</span>
        <mat-progress-bar
          *ngIf="progressBarPercentage !== undefined"
          mode="determinate"
          [value]="progressBarPercentage"
        >
        </mat-progress-bar>
      </mat-card-header>

      <mat-card-content>
        <div [ngClass]="{ 'urdu-text': quizService.getTargetData() === 'ur' }">
          <p>
            {{ quizService.qnProgress + 1 }} :
            {{ quizService.qns[quizService.qnProgress].question }}
          </p>
          <mat-list>
            <mat-list-item
              *ngFor="
                let option of quizService.qns[quizService.qnProgress].options;
                let i = index
              "
              [ngClass]="{
                'urdu-options': quizService.getTargetData() === 'ur'
              }"
              class="answer-item"
              (click)="Answer(i + 1)"
            >
              <p matLine>{{ option }}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
