html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Noto Nastaliq Urdu', sans-serif;
}

.urdu-text {
    font-family: 'Noto Nastaliq Urdu', sans-serif;
    direction: rtl ;
    unicode-bidi: embed ;
  }

